<div class="container ">
  <div class="row">
    <div class="col-md-12">
      <img src="../../../assets/images/Logo.png" alt="Logo" width="100" height="100" class="img-responsive text-center">
    </div>
    <div class="col-md-12 text-center">
      <h1>Welcome</h1>
      <p>Please select your Profession</p>
      <div class="row row-centered proffesion">
        <div class="col-xs-6 col-centered">
          <div class="row row-centered " style="padding-right:20px;">
            <div class="col-xs-12 col-centered box-shadow icon-box19 pull-right">
              <span class="Rectangle-3"> <img src="../../../assets/images/Trainer.png" alt="" class="Teacher">  </span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-centered">
          <div class="row row-centered"  style="padding-left:20px;">
            <div class="col-xs-12 col-centered box-shadow icon-box19 pull-left">
              <span class="Rectangle-3"> <img src="../../../assets/images/Student.png" alt="" class="Teacher">  </span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div class="button-container">
          <div class="text-binder">{{submitText}}</div>
        </div>
      </div>
    </div>

  </div>

</div>
