/* You can add global styles to this file, and also import other style files */

// common styles
// colors
$white:#ffffff;
$black:#000000;
$buttoncolor:#547DBE;
body,
html {
  font-family: 'Roboto' !important;
  height: 100%;
  overflow-x: hidden;
}

*:focus {
  outline: none !important;
  border: 0;
}

.no-padding {
  padding: 0px !important;
}

.disabled {
  cursor: not-allowed !important;
}

.inline-block {
  display: inline-block;
}

.pointer {
  cursor: pointer !important;
}

.no-pointer {
  cursor: default;
}

.full-page {
  height: 100%;
  width: 100%;
  position: absolute;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.text-capitalize {
  text-transform: capitalize;
}

.parent-container {
  z-index: 10;
  display: flex;
  justify-content: center;
  .child-container {
    align-self: center;
    border-radius: 8px;
  }
}

.icon-box19:hover {
  box-shadow: 0px 13px 36px rgba(0, 0, 0, 0.23);
  transform: translateY(-8px);
  cursor: pointer;
}

.icon-box19 {
  text-align: center;
  height: 220px;
  width: 150px;
  transition: all .22s ease;
}
.box-shadow{
   border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 1px 11px 2px rgba(0, 0, 0, 0.5);
}

// button container
.button-container {
  display: inline-block;
  cursor: pointer;
  margin-top: 6px;
  padding: 9px 38px;
  width: 180px;
  height: 44px;
  border-radius: 100px;
  background-color: $buttoncolor;
  border: 1px solid #b1b1b1;
  color: $white;
  font-weight: 100;
  font-size: 18px;
}

.inactive-button-container {
  display: inline-block;
  margin-top: 6px;
  padding: 11px 47px;
  width: 288px;
  height: 40px;
  border-radius: 100px;
  background-image: none;
  border: solid 1px $black;
  cursor: not-allowed;
  color: $black
}

.Rectangle-3 {
 width: 178.8px;
 height: 296px;
 border-radius: 21px;
 background-color: #ffffff ;
 box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.Teacher {
 width: 62px;
 height: 184px;
 object-fit: contain;
}


.Student {
 width: 79px;
 height: 184px;
 object-fit: contain;
}

/* centered columns styles */
.row-centered {
    text-align:center;
    
}
  .proffesion{
    padding: 50px 0px 50px 0px;
  }
.col-centered {
    display:inline-block;
    float:none;
    margin-right:-4px;
   
}